@model FreeSource.Portal.ViewModels.Person.PersonViewModel
@{
    ViewBag.Title = "Cadastro de Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsValid())
{
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa-fw fa fa-child"></i> Cadastros <span>> Pessoas</span>
                </h1>
            </div>

        </div>
        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- row -->
            <div class="row">
                <article class="col-sm-12">
                    <div class="jarviswidget jarviswidget-sortable" id="wid-id-1"
                         data-widget-colorbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-editbutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-deletebutton="false"
                         role="widget">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header role="heading">
                            <span class="widget-icon"> <i class="glyphicon glyphicon-search txt-color-darken"></i> </span>
                            <h2>
                                <strong>Cadastro </strong> <i>de pessoas</i>
                            </h2>
                        </header>

                        <!-- widget div-->
                        <div role="content">

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <form class="smart-form">
                                    <fieldset>
                                        <section>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                <input type="text" name="fname" placeholder="Nome Completo">
                                            </label>
                                        </section>
                                        <section>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-envelope"></i>
                                                <input type="text" name="fname" placeholder="Email de contato">
                                            </label>
                                        </section>
                                        <section >
                                            <label class="input">
                                                <i class="icon-prepend fa fa-calendar"></i>
                                                <input type="text" name="request" placeholder="Data de Nascimento" class="datepicker" data-dateformat="dd/mm/yy" id="birthdate">
                                            </label>
                                        </section>
                                    </fieldset>
                                </form>

                                <div class="widget-footer">
                                    <button class="btn btn-sm btn-primary" type="button" id="save-new-person-button">
                                        Salvar
                                    </button>
                                    <button class="btn btn-sm btn-danger  pull-left" type="button">
                                        Limpar
                                    </button>

                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                </article>
            </div>

            <!-- row -->

        </section>
    </div>
    <!-- END MAIN CONTENT -->
    @section pagespecific {
        <script>
            $(function () {
                //$("#birthdate").datepicker();
                $("#save-new-person-button").click(function () {
                    savePerson();
                });
            });
            function savePerson() {
                
            }

        </script>
    }
}
else
{
    Html.RenderPartial("_error", Model);
}

