<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <div class="jarviswidget jarviswidget-sortable" id="wid-id-1"
                 data-widget-colorbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-editbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-deletebutton="false"
                 role="widget">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header role="heading">
                    <span class="widget-icon"> <i class="glyphicon glyphicon-search txt-color-darken"></i> </span>
                    <h2>
                        <strong>Pesquisa </strong> <i>de pessoas</i>
                    </h2>
                </header>

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        @RenderBody()
                        @*
                            <form class="smart-form">
                            <fieldset>
                                <section>
                                    <label class="label">Filtro de busca</label>
                                    <label class="input">
                                        <input type="text">
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Filtros para pesquisa de clientes</label>
                                    <div class="inline-group">
                                        <label class="radio">
                                            <input type="radio" name="radio-inline" checked="checked">
                                            <i></i>Nome
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="radio-inline">
                                            <i></i>CPF/CNPJ
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="radio-inline">
                                            <i></i>RG/IE
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="radio-inline">
                                            <i></i>Código
                                        </label>
                                    </div>
                                </section>
                            </fieldset>
                        </form>
                        <div class="widget-footer">
                            <button class="btn btn-sm btn-primary" type="button">
                                Novo
                            </button>
                            <button class="btn btn-sm btn-primary" type="button">
                                Buscar
                            </button>                                    
                            <button class="btn btn-sm btn-danger  pull-left" type="button">
                                Limpar
                            </button>
                        </div>
                            *@

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
        </article>
    </div>

    <!-- row -->

</section>